# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.log

# Virtual environment
venv/
.venv/
env/
ENV/

# Django / local dev
db.sqlite3
*.sqlite3
media/
staticfiles/
.local_settings.py

# Tailwind binary
tailwindcss.exe
tailwindcss
tailwindcss*.exe
tailwindcss*.macos
tailwindcss*.linux

# Environment / secrets
.env
*.env

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Build / cache
*.bak
*.tmp
*.out
*.log
